<ul>
        <li id='selectAll' title='Select All on the Page'>
                <a><i class="material-icons">check_box_outline_blank</i></a>
        </li>
        <li id='clearOnPage' title='Clear All on the Page'>
                <a><i class="material-icons">indeterminate_check_box</i></a>
        </li>
        
        <li id='clearOnPageAll' title=''>
                <a><i class="material-icons">check_box</i></a>
        </li>
        <li><a id='indicator'>indicator</a></li>
        <li id='clear' title='Clear All Selection'><a><i class="material-icons">close</i></a></li>
        <li id='menu'><a id='a'><i class='material-icons'>favorite</i></a></li>
</ul>